
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<!--header-->
<% include ../admin/layouts/header %>
<!--//header-->
<body>
<!-- Sidebar -->
<% include ../admin/layouts/sidebar %>
<!-- //Sidebar -->   

<div class="grid-form">
  	<div class="grid-form1">
  	    <h3><%=title%></h3>
  	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="./naddwisata" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-2 control-label label-input-sm">ID Wisata</label>
						<div class="col-sm-8">
							<input name="wisata_id" type="text" class="form-control1 input-sm" placeholder="Masukan ID Wisata" autofocus required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label label-input-sm">Nama</label>
						<div class="col-sm-8">
							<input name="name" type="text" class="form-control1 input-sm" placeholder="Masukan Nama Wisata" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Kategori</label>
						<div class="col-sm-8"><select name="category" class="form-control1" required>
							<option value="">Pilih Kategori Wisata</option>
							<option value="alam">Wisata Alam</option>
							<option value="kuliner">Wisata Kuliner</option>
						</select></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Deskripsi</label>
							<div class="col-sm-8"><textarea name="desc" class="form-control1" placeholder="Masukan Deskripsi" style="word-wrap: break-word;word-break: break-all;height: 250px; width: 690px;" required></textarea></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Lokasi Maps</label>
						<div class="col-sm-8"><textarea name="maps" class="form-control1" placeholder="Masukan Lokasi Maps" style="word-wrap: break-word;word-break: break-all;height: 104px; width: 690px;" required></textarea>
							<p class="help-block">Contoh : https://www.google.com/maps/embed?pb=xxxxx</p></div>
					</div>
        				<label>Foto Wisata</label>
        				<input name="images" type="file" accept=".png,.jpg" required>
        				<p class="help-block">Hanya file berekstensi .jpg dan .png</p>
      				<div class="panel-footer">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<button type="Submit" class="btn-primary btn">Submit</button>
								<a href="../../admin" class="btn-default btn">Cancel</a>
								<a href="../../admin/addwisata" class="btn-default btn">Reset</a>
							</div>
						</div>
	 				</div>
    			</form>
    		</div>
  		</div>
  	</div>
</div>

<!--Footer-->
<% include ../admin/layouts/footer %>
<!--//Footer-->

</body>
</html>

