<!DOCTYPE HTML>
<html>

<!--header-->
<% include ../admin/layouts/header %>
<!--//header-->

<body>

<!-- Sidebar -->
<% include ../admin/layouts/sidebar %>
<!-- //Sidebar -->       	

 	<div class="blank">
		<div class="blank-page">
	        <p>Selamat datang <%=userFirstName%> <%=userLastName%>
            ini adalah page admin, anda dapat mengatur data wisata dari halaman ini, terimakasih.      
            </p>
	    </div>
	</div>

<% include ../admin/layouts/footer %>
</body>
</html>

