<% include ./layouts/headerpost %>
<body>
<!-- about -->
<div class="banner-bdy abt">
<div class="container">
	<div class="tutor">
		<div class="content-text">
			<div class="content-text-bottom">
				<p><h3 align="center" style="font-size: 35px">Tentang Sukabumi</h3></br></p>
				<div class="about-grids">
					<div class="col-md-6 about-grid">
						<img src="images/akot.png" alt=" " />
					</div>
					<div class="col-md-6 about-grd">
						<h4>Kota Sukabumi</h4>
						<p>Kota Sukabumi adalah sebuah kota di Provinsi Jawa Barat, Indonesia. Kota ini merupakan salah-satu kota dengan luas wilayah terkecil di Jawa Barat.
						<span>Kota Sukabumi terletak pada bagian selatan tengah Jawa Barat serta bagian barat daya dari wilayah Priangan pada koordinat 106° 45’ 50’’ Bujur Timur dan 106° 45’ 10’’ Bujur Timur, 6° 49’ 29’’ Lintang Selatan dan 6° 50’ 44’’ Lintang Selatan, terletak di kaki Gunung Gede dan Gunung Pangrango yang ketinggiannya 584 m di atas permukaan laut, dengan suhu maksimum 29 °C.</span>
						<span>Kota ini terletak 120 km sebelah selatan Jakarta dan 96 km sebelah barat Bandung, dan wilayahnya berada di sekitar timur laut wilayah Kabupaten Sukabumi serta secara administratif wilayah kota ini seluruhnya berbatasan dengan wilayah Kabupaten Sukabumi. Kota Sukabumi secara budaya merupakan bagian dari wilayah Priangan Barat.</span></p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="people">
				<div class="about-grids">
					<div class="col-md-6 about-grd">
						<h4>Kabupaten Sukabumi</h4>
						<p>Kabupaten Sukabumi adalah sebuah kabupaten di Tatar Pasundan, Provinsi Jawa Barat, Indonesia. Ibukotanya adalah Kota Palabuhanratu. Kabupaten Sukabumi merupakan kabupaten terluas kedua di Pulau Jawa setelah Kabupaten Banyuwangi di Provinsi Jawa Timur. Kabupaten ini berbatasan dengan Kabupaten Bogor di utara, Kabupaten Cianjur di timur, Samudra Hindia di selatan, serta Kabupaten Lebak di barat.
						<span>Dengan luas wilayah 4.128 km², Kabupaten Sukabumi merupakan Kabupaten terluas kedua di Jawa setelah Kabupaten Banyuwangi. Batas wilayah Kabupaten Sukabumi 40 % berbatasan dengan lautan dan 60% merupakan daratan. Wilayah Kabupaten Sukabumi memiliki areal yang relatif luas yaitu ± 419.970 ha. Pada Tahun 1993 Tata Guna Tanah di wilayah ini, adalah sebagai berikut : Pekarangan/perkampungan 18.814 Ha (4,48 %), sawah 62.083 Ha (14,78 %), Tegalan 103.443 Ha (24,63 %), perkebunan 95.378 Ha (22, 71%) , Danau/Kolam 1. 486 Ha (0, 35 %) , Hutan 135. 004 Ha (32,15 %), dan penggunaan lainnya 3.762 Ha (0,90 %). Beberapa puncak gunung terdapat di bagian utara, diantaranya: Gunung Halimun (1.929 m dpl), Gunung Salak (2.211 m dpl), dan yang tertinggi adalah Gunung Gede (2.958 m dpl) dan [[Gunung Pangrango (3.019 m dpl) yang secara administratif berada di Kecamatan Kadudampit. Di antara sungai yang mengalir adalah Sungai Cimandiri dan Sungai Cikaso, yang bermuara di Samudra Hindia.</span></p>
					</div>
					<div class="col-md-6 about-grid">
						<img src="images/akab.png" alt=" " />
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>	
		</div>
	</div>
	</div>
	</div>
<!-- //about -->
</body>
<% include ./layouts/footer %>